/*
    On my PC 499 pushes related videos exactly to the videos title card
    This can probably be changed in code for different computers
*/
.comment-container {
 
    height: 488px; 
    margin-bottom: 10px;
    overflow: auto;    
}

.comment-header {
    
    padding-top: 3px;
    padding-bottom: 5px;
    color: #666;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
}

.comment-body {
    
    color: #333;
    padding-top: 10px;
    
}

.comment-author {
    
    color: #333;
    font-weight: 600;
    
}

.comment-time {
    
    color: #999;
    
}